*{
  padding: 0;
  margin: 0;
}

body{
  margin-top: 81px;
}

.logo{
  height: 50px;
  margin-top: 10px;
  margin-left: 10px;
}

.header{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px black solid;
  padding-bottom: 5px;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
}

.menu{
  display: flex;
}

.menu button{
  font-size: 16.5px;
  font-weight: 500;
  margin: 18px 15px 7px 0px;
  font-family: "Dosis", sans-serif;
  border: none;
  background-color: white;
  cursor: pointer;
  border-radius:30px ;
  padding: 15px 20px ;
}

.nav-home{
  color: rgb(250, 132, 41);
}

.menu button:hover{
  color: rgb(250, 132, 41);
}

.menu svg{
  margin: 32px 15px 7px 0px;
}

.menu li{
  list-style-type: none;
}

.account{
  font-family: "Dosis", sans-serif;
  display: none;
  flex-direction: column;
  width: 250px;
  height: 140px;
  position: fixed;
  background-color: white;
  right: 0;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  background-color: white;
}

.sign-in-btn{
  padding: 12px 20px;
  border-radius: 30px;
  font-family: "Dosis", sans-serif;
  border: none;
  background-color: rgb(255, 118, 68);
  cursor: pointer;
  width: fit-content;
  align-items: center;
  border: 2px solid rgba(0, 0, 0, .2);
  font-size: 17px;
  transition: padding 0.5s ;
}

.sign-in-btn:hover{
  padding:15px 22px ;
  color: black;
}

.account p a{
  margin: 0 3px;
  margin-top: -20px;
  text-decoration: none;
}

.account p a:hover{
  cursor: pointer;
  text-decoration: underline;
}


.heading{
  color: rgb(80, 80, 80);
  text-align: center;
}

.sub-heading{
  color: rgb(226, 90, 90);
  text-align: center;
  font-size: 38px;
  padding-top: 20px;

}

.chief{
  display: flex;
  flex-direction: column;
  gap: 70px;
  margin-left: 100px;
  background-color: rgb(219, 214, 214);
  margin: 40px 20px;
  padding: 40px;
  border-radius: 10px;
}

.chief-list{
  display: flex;
  justify-content: space-evenly;
}

.image{
  height: 280px;
  border-radius: 10px;
}

.chief-description{
  width: 550px;
  font-size: 18px;
  margin-left: -100px;
  font-family: "Dosis", sans-serif;
}

.chief-description h1{
  color: rgb(94, 92, 92);
  font-size: 28px;
}

.team{
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.team-list{
  display: flex;
  justify-content: space-evenly;
}

.footer{
  display: flex;
  background-color: rgb(16, 16, 65);
  border-bottom: 2px solid black;
}

.footer-left{
  flex: 1;
}

.footer-right{
  display: flex;
  flex: 2;
  justify-content: space-evenly;
}

.footer-left p{
  margin: 15px 10px;
  color: white;
  font-family:"Dosis", sans-serif ;
}

.footer-right p,h1{
  margin-bottom: 10px;
  color: white;
  font-family:"Dosis", sans-serif ;
}

.copyright{
  display: flex;
  justify-content: space-between;
  background-color: rgb(27, 27, 56);
  padding-bottom: 20px;
}

.copyright-left{
  display: flex;
  margin-left: 30px;
  margin-top: 20px;
}

.copyright-left svg{
  padding-right: 4px;
}

.copyright p{
  margin-top: 4px;
  color: white;
  font-family:"Dosis", sans-serif ;

}

.copyright-right{
  margin-top:20px;
  margin-right: 40px;
}